img {
  width: 100%;
}
p {
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.4;
  display: block;
}
.box {
  > span {
    display: none;
  }
}
.main1 {
  position: relative;
  width: 100%;
  // height: 200px;
  img {
    width: 100%;
  }
  > span {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 20px;
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/images/u196_03.gif");
    background-size: 100% 100%;
    background-position: center;
  }
}

.left {
  position: absolute;
  left: 5%;
  bottom: 35px;
  span {
    color: #fff;
    font-size: 10px;
    line-height: 1.25;
    display: block;
  }
}
