img {
  width: 100%;
}
p {
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.4;
  display: block;
}
.topic {
  .box {
    > span {
      display: none;
    }
  }
  .comments {
    li.block {
      display: block;
    }
    li.none {
      display: none;
    }
    .btn {
      padding: 5px 2px;
      background-color: #f0f0f0;
    }
  }
  .bot {
    width: 100vw;
    height: 70px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    button {
      background-color: #000;
      border: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #fff;
      i {
        color: #fff;
        font-size: 16px;
        margin-right: 5px;
      }
      i.focus {
        color: #dd4f43;
      }
    }
  }
}

.main1 {
  position: relative;
  width: 100%;
  // height: 200px;
  img {
    width: 100%;
  }
  > span {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 20px;
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/images/u196_03.gif");
    background-size: 100% 100%;
    background-position: center;
  }
}

.left {
  position: absolute;
  left: 5%;
  bottom: 35px;
  span {
    color: #fff;
    font-size: 10px;
    line-height: 1.25;
    display: block;
  }
}
