.foot {
  background-color: #000;
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    li {
      width: 25%;
      height: 100%;
      a {
        width: 100%;
        height: 100%;
        display: block;
        background-size: 100% 100%;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
    }
    li:nth-child(1) {
      a {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__zhan__2_u140.png");
      }
      a.active {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__zhan_u138.png");
        background-size: 106% 100%;
      }
    }
    li:nth-child(2) {
      a {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__tui_u132.png");
      }
      a.active {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__tui_2_u142.png");
        background-size: 106% 100%;
      }
    }
    li:nth-child(3) {
      a {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__fa_u134.png");
      }
      a.active {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__fa__2_u145.png");
        background-size: 106% 100%;
      }
    }
    li:nth-child(4) {
      a {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__ge_u136.png");
      }
      a.active {
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/icon__ge__2_u148.png");
        background-size: 106% 100%;
      }
    }
  }
}
.zhanxun {
  .swiper-container1 {
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
      }
      .swiper-pagination-bullet-active {
        background-color: red;
      }
    }
  }
  .banner2 {
    margin: 10px 0;
  }
  .swiper-container2 {
    .swiper-slide {
      width: 4.47rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.keywords {
  width: 100%;
  height: 40px;
  ul {
    width: 100%;
    height: 100%;
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/u124.jpg");
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    li {
      width: 50%;
      a {
        width: 100%;
        display: block;
        height: 100%;
      }
    }
  }
  ul.current {
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/u127.jpg");
  }
}
.tuijian .keywords {
  ul {
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/u300.jpg");
  }
  ul.current {
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/u302.jpg");
  }
}

.zhanxun .main {
  .pro-showcase {
    display: none;
  }
  .pro-showcase.show {
    display: block;
  }
}
img {
  display: block;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: #707477;
  z-index: 30;
  top: 0;
  left: 0;
  position: fixed;
}
.modal-content {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 35;
}
.modal-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.modal-container.toast {
  display: block;
}
.fabu {
  i {
    color: #d20003;
  }
  .inner {
    width: 96%;
    margin: 0 auto;
    .top {
      padding: 18px 0;
      position: relative;
      border-bottom: 1px solid #000;
      span,
      i {
        color: #d20003;
        display: block;
        font-size: 16px;
        position: absolute;
        top: 8px;
      }
      span {
        left: 50%;
        transform: translateX(-50%);
      }
      i {
        right: 0;
      }
    }
    .content {
      textarea {
        width: 100%;
        height: 55%;
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/publish_03.png");
        background-size: 100% 105%;
        background-position: center;
        border: none;
        color: #545451;
        font-size: 14px;
        line-height: 1.4;
        padding: 5px 0;
        &:focus {
          outline: none;
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-top: 1px solid #000;
      > span {
        width: 50%;
      }
      span {
        font-size: 14px;
        color: #545451;
        display: flex;
        align-items: center;
        margin-right: 10px;
        i {
          margin-right: 15px;
        }
      }
    }
  }
}
.geren {
  .touxiang {
    position: absolute;
    top: 0;
    left: 100vw;
    transition: all 1s;
  }
  .touxiang.open1 {
    left: 0;
  }
  .modal-content {
    .inner {
      width: 90%;
      margin: 0 auto;
      button {
        font-size: 12px;
        border: none;
        padding: 5px 0;
        width: 100%;
      }
      .top {
        text-align: center;
        border-bottom: 1px solid #da2218;
      }
      .bottom {
        text-align: center;
        button {
          padding: 8px 0;
        }
      }
    }
  }

  .drawer {
    position: absolute;
    left: 100vw;
    top: 0;
    z-index: 10;
    width: 100vw;
    // display: none;
    transition: all 1s;
    .drawer.open {
      left: 0;
    }
    .box {
      > span {
        span {
          color: #dd4f43;
        }
      }
    }
  }
  .drawer.open {
    left: 0;
    display: block;
  }

  .left.open {
    display: none;
  }
  .left {
    position: static;
    .top {
      position: relative;
      width: 100%;
      height: 280px;
      background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/User-bg_01.png");
      background-size: 100% 100%;
      background-position: center;
      > img {
        position: absolute;

        top: 10%;
        right: 8%;
        width: 8%;
      }
      .tou {
        position: absolute;
        top: 25%;
        left: 0;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: 25%;
          margin: 0 auto;
          display: inline;
          margin-bottom: 15px;
        }
        span {
          color: #fff;
          font-size: 16px;
        }
      }
      .bottom {
        position: absolute;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 20%;
        bottom: 15%;
        span {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          color: #fff;
          font-size: 13px;
        }
      }
    }
    .main1 {
      position: relative;
      .inner {
        width: 96%;
        margin: 0 auto;
        .title {
          padding: 7px 5px 0;
          padding-bottom: 7px;
          display: flex;

          h2 {
            font-size: 18px;
            flex-grow: 1;
            color: #545451;
          }
          span {
            position: absolute;
            top: 7px;
            right: 0;
            display: block;
            padding: 5px 0;
            color: #fff;
            width: 23%;
            font-size: 12px;
            text-align: center;
            background-color: #dd4f43;
            border-top-left-radius: 30%;
            border-bottom-left-radius: 30%;
          }
        }
        .content {
          display: flex;

          .box {
            width: 32%;

            display: flex;
            flex-direction: column;

            margin-right: 2%;
            img {
              width: 100%;
              height: 100px;
            }
            span {
              margin-left: 20%;
              font-size: 12px;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
  .right {
    background-color: #f0f0f2;
    z-index: 20;
    position: relative;
    .top {
      padding: 15px 0;
      position: relative;
      button {
        width: 4%;
        height: 14px;
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/user-info-pre_03.png");
        background-size: 100% 100%;
        background-position: center;
        flex-shrink: 0;
        border: 0;
      }
      .logo {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
      }
      img {
        width: 100%;
      }
    }
    .blank {
      width: 100vw;
      height: 10px;
      background-color: #dfe8ed;
    }
    .box {
      padding: 10px 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #bcc0c3;
      button {
        width: 4%;
        height: 14px;
        background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/user-info-next_07.png");
        background-size: 100% 100%;
        background-position: center;
        margin-right: 4%;
        flex-shrink: 0;
        border: 0;
      }
      span.leftt {
        flex-grow: 1;
        font-size: 15px;
      }
      span.right {
        flex-shrink: 0;
        font-size: 12px;
        color: #969799;
        margin-right: 4%;
      }
      img.red {
        width: 5%;
        margin-right: 4%;
      }
    }
    .tou {
      img {
        margin-right: 4%;
        width: 20%;
      }
    }
    .main2 {
      background-color: #bdc8ce;
      padding: 4px 0;
      p {
        font-size: 10px;
        color: #949fa5;
      }
    }
    .main3 {
      background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/src/assets/images/me-xinxi_02.png");
      background-size: 100% 100%;
      background-position: center;
      text-align: center;
      padding: 100px 0;
      a {
        margin-left: 100px;
        width: 40%;
        border-radius: 10px;
        line-height: 30px;
        font-size: 15px;
        color: #fff;
        margin: 0 auto;
        display: block;
        background-color: #d12d21;
      }
      span {
        display: block;
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }
}
.inner {
  width: 96%;
  margin: 0 auto;
}
.geren {
  .keywords ul {
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/tabs-bg.png");
    a {
      font-size: 16px;
      text-align: center;
      line-height: 2.5;
    }
    a.current {
      color: #fff;
    }
  }
  .keywords ul.current {
    background-image: url("https://dev.tencent.com/u/dtid_30b2a4e50adc6692/p/images-tuoguan/git/raw/master/assent/tabsbg.png");
  }
  .main3 {
    .box {
      display: flex;
      img {
        width: 49%;
        margin-right: 2%;
        margin-top: 10px;
      }
      img:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
.geren .swiper-container {
  .one,
  .two {
    width: 100vw;
  }
}
