.list {
  li {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 200px;
    }
    .left {
      position: absolute;
      left: 5%;
      bottom: 35px;
      span {
        color: #fff;
        font-size: 10px;
        line-height: 1.25;
        display: block;
      }
    }
    .right {
      position: absolute;
      top: 20px;
      right: 0;
      width: 20%;
      text-align: center;
      background-color: #c33328;
      padding: 4px;
      border-bottom-left-radius: 30%;
      border-top-left-radius: 30%;
      span {
        font-size: 15px;
        color: #fff;
        display: block;
      }
    }
    .bottom {
      width: 50%;
      position: absolute;
      bottom: 10px;
      right: 0;
      display: flex;
      align-items: center;
      i {
        font-size: 10px;
        color: #fff;
        margin: 0 5px;
      }
      span {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 10px;
        span {
        }
      }
    }
  }
}
i.red {
  color: #c33328;
}
