li > a.active {
  color: cyan;
}
li > a {
  color: black;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
}
button:focus {
  outline: none;
}
/* * {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
} */
