.denglu {
  width: 100vw;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/liu-sir666/1903/master/yij_images/u13.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  position: relative;
  .input {
    width: 80%;
    margin: 0 auto;
    padding-top: 65%;
    input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #6c5c5c;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      font-size: 14px;
      color: #6c5c5c;
      margin-bottom: 15px;
      padding-bottom: 8px;
      &:focus {
        outline: none;
      }
    }
  }
  .bottom {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    a,
    span {
      color: #6c5c5c;
    }
  }
  .agree {
    width: 60%;
    margin: 0 auto;
    margin-top: 30%;
    display: flex;
    align-items: center;
    input[type="checkbox" i] {
      font-size: 8px;
      border: 0;
      background-color: #fff;

      border-radius: 50%;
      color: #6c5c5c;
    }
    p {
      color: #6c5c5c;
      font-size: 8px;
      display: flex;
      align-items: center;
      span {
        color: #fff;
      }
    }
  }
  .link {
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid #fff;
    padding: 25px 0;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        border-right: 1px solid #fff;
        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: #6c5c5c;
        }
      }
    }
  }
}
